:root{
    --blackColor: black;
    --manase: yellowgreen;
    --fontWeight500:500;

}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: barlow;
    font-weight: var(--fontWeight500);
    text-align: center;
}

table {
    margin: auto;
    border: 1px solid var(--blackColor);
    border-collapse: collapse;
    width: 40%;
    background-color: var(--manase)
}

th, td {
    border: 1px solid var(--blackColor)
}

.a {
    /* color: blue; */
    background-color: white;
}

