* {
    padding: 0;
    margin: 0;
}

body {
    font-family: barlow;
    font-weight: 400;
    text-align: center;
}

table {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%;
    background-color: yellowgreen;
}

th, td {
    border: 1px solid black
}

.a {
    /* color: blue; */
    background-color: white;
}

